.button {
  display: inline-flex;
  padding: 8px 26px;
  background-color: $basic-green;
  font-family: $custom-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $basic-green-dark;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &--full-width {
    width: 100%;
  }
}
