.button{
  display: inline-flex;
  padding: 18px 26px;
  background-color: rgba($basic-green, 0.85);
  font-family: $custom-font;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  justify-content: center;
  align-items: center;
  &--long{
    width: 100%;
}
}
