.checkbox__label {
  @include form-label();
  color: $black;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover::before {
    border: 1px solid $gray-500;
  }

  &::before {
    @include pseudo(30px, 30px);
    top: 0;
    left: 0;
    position: initial;
    border: 1px solid $gray-400;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 16px;
    display: block;
    flex-shrink: 0;

    @include above($tablet) {
      width: 40px;
      height: 40px;
      margin-right: 19px;
    }
  }
}

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("..//img/form-checkbox.svg");
}

.checkbox__input:focus + .checkbox__label::before {
  border: 1px solid $gray-500;
}

.checkbox__input:disabled + label {
  opacity: 0.3;
}
