.contacts {
  background-color: $white;
}

.contacts--gray {
  background-color: $gray-100;
}

.contacts__info {
  display: flex;
  padding-top: 28px;
  padding-bottom: 26px;
  justify-content: flex-start;
  background-color: inherit;

  @include above($tablet) {
    padding-top: 63px;
    padding-bottom: 60px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    background-color: white;
    width: 570px;
    padding: 66px 76px 56px;
    top: 95px;
    left: 110px;
  }
}

.contacts__wraper {
  position: relative;

  @include above($tablet) {
    padding: 0 70px;
  }
}

.contacts__welcome {
  flex-basis: 50%;
  margin: 0;
  color: $black-100;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 5px;
  }

  @include above($desktop) {
    padding-top: 0;
  }
}

.contacts__address {
  flex-basis: 50%;
  margin: 0;
  line-height: 20px;

  @media (min-width: $tablet) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;

    span + span {
      display: inline-block;
      margin-top: 18px;
    }
  }

  @media (min-width: $desktop) {
    text-align: left;
    padding-left: 43px;
  }
}

.contacts__map {
  height: 362px;
  background-color: $gray-100;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina() {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @include above($tablet) {
    height: 400px;
    background-image: url("../img/map-tablet.jpg");

    @include retina() {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @include above($desktop) {
    background-image: url("../img/map-desktop.jpg");

    @include retina() {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
