.example-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 13px 5px;
  padding-bottom: 0;
  width: 124px;
  border: 1px solid $gray-400;
  border-radius: 3px;

  @include above($tablet) {
    width: 162px;
  }
}

.example-stats__title,
.example-stats__description {
  display: inline-block;
}

.example-stats__title {
  margin-bottom: 9px;
  text-transform: uppercase;
  text-align: center;

  @include above($tablet) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.example-stats__description {
  margin-bottom: -16px;
  padding: 0 17px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: $gray;

  @include above($tablet) {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: -7px;
    background-color: $white;
    padding: 0 9px;
  }

  @include above($desktop) {
    background-color: $gray-100;
  }
}

.example-stats__description br {
  @include above($tablet) {
    display: none;
  }
}
