.footer{
  padding-top: 28px;
}
.footer__contacts{
  margin-bottom: 22px;
}
.footer__map{
  min-height: 362px;
  background-image: url("../../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__links{
  background-color: $footer-bg-color;
}
