.footer-links {
  background-color: $footer-bg-color;
}

.footer-links__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 21px;
  }
}

.footer-links__logo {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 26px;
  border-bottom: 1px solid $border-link-color;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    width: auto;
    padding: 0;
    border-color: transparent;
  }
}

.footer-links__social-list {
  @include reset-list();
  padding: 20px 0 16px 0;
  border-bottom: 1px solid $border-link-color;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0;
    border-color: transparent;
  }
}

.footer-links__social-item:not(:last-child) {
  margin-right: 37px;
}

.footer-links__copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 22px 0;
  text-decoration: none;

  @media (min-width: $tablet) {
    padding: 0;
    border-color: transparent;
  }
}

.footer-links__copyright-text {
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
  margin: 0;
  align-self: center;

  @include above($tablet) {
    margin-right: 24px;
    padding-top: 6px;
    align-self: flex-start;
  }

  @include above($desktop) {
    padding-top: 0;
  }
}
