$border-color: $light-gray;

.form {
  padding-bottom: 31px;

  @include above($tablet) {
    padding-bottom: 74px;
  }

  @include above($desktop) {
    padding-bottom: 86px;
  }
}

.form__wrapper {
  min-width: 320px;
  max-width: 476px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    min-width: $tablet - 1px;
    max-width: $desktop;
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    min-width: initial;
    padding: 0 110px;
  }
}

.form__inner--wrapper {
  @media (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.form__inner--wrapper .form__wrapper {
  @media (min-width: $desktop) {
    max-width: none;
    padding: 0;
  }
}

.form__inner--double-column {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }

  &--cat-info {
    margin-bottom: 53px;

    @include above($tablet) {
      margin-bottom: 16px;
    }
  }

  &--user-info {
    margin-bottom: 27px;

    @include above($tablet) {
      margin-bottom: 67px;
    }
  }

  &--radio-group {
    margin-bottom: 46px;

    @media (min-width: $tablet) {
      padding-top: 35px;
      padding-bottom: 35px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop) {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 69px;
    }
  }

  &--checkbox {
    margin-bottom: 37px;

    @include above($tablet) {
      margin-bottom: 34px;
    }

    @include above($desktop) {
      margin-bottom: 40px;
    }
  }
}

.form__fieldset--green {
  position: relative;

  &::before {
    @include pseudo(100%, 2px);
    top: 1.2em;
    left: 0;
    background-color: $basic-green;
  }
}

.form__legend-fake {
  font-family: $custom-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  margin: 0;
  margin-bottom: 36px;
  position: relative;
  display: inline-block;
  background-color: $white;
  padding-right: 20px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding-right: 40px;
  }

  &::before {
    @include pseudo (20px, 100%);
    top: 0;
    left: -20px;
    background-color: $white;

    @include above ($tablet) {
      width: 40px;
      left: -40px;
    }
  }

  &--checkbox {
    margin-bottom: 39px;

    @media (min-width: $tablet) {
      margin-bottom: 60px;
    }
  }
}

.form__legend-fake br {
  @include above ($tablet) {
    display: none;
  }
}

.form__group {
  @include reset-list();
}

.form__group--radio {
  @include above($tablet) {
    padding: 30px 28px 23px;
    border: 1px solid #e7e7e7;
  }

  @include above($desktop) {
    padding: 30px 28px 23px;
  }
}

.form__group--checkboxes {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    column-gap: 60px;
    row-gap: 18px;
  }

  @include above($desktop) {
    column-gap: 80px;
  }
}

.form__option {
  margin-bottom: 17px;

  @include above($tablet) {
    margin-bottom: 22px;
  }

  &--radio {
    margin-bottom: 24px;
  }

  &--checkbox {
    margin-bottom: 23px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__group--cat-info .form__option {
  @include above($tablet) {
    margin-bottom: 22px;
  }
}

.form__inner--double-column > .form__option {
  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.form__textarea {
  @include form-label();

  font-family: $custom-font;
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
  width: 100%;
  resize: vertical;
  min-height: 150px;
  padding: 10px 13px;
  border: 1px solid $border-color;
  cursor: pointer;

  &:hover {
    border: 1px solid $gray-400;
  }

  &:focus {
    border: 1px solid $text-color;
    box-shadow: inset 0 0 0 1px $text-color;
  }

  &::placeholder {
    color: $text-color;
    opacity: 1;
  }

  @include above($tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 9px 18px;
    min-height: 174px;
  }
}

.form__submit-group {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.form__button {
  min-width: 100%;
  border: none;

  @media (min-width: $tablet) {
    min-width: 282px;
    margin-right: 60px;
    font-size: 20px;
    padding: 17px 26px;
  }

  @media (min-width: $desktop) {
    min-width: 568px;
    margin-right: 80px;
  }
}

.form__help {
  margin: 0;
  margin-top: 20px;
  text-align: center;

  @include above($tablet) {
    margin-top: 0;
  }
}
