.gift {
  width: 100%;
  height: 289px;
  background-color: $basic-green;
  background-image: url("../img/gift-photo-mobile-bg1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 186px 61px 43px;

  @media (min-width: $tablet) {
    height: 200px;
  }

  @media (min-width: $desktop) {
    width: 245px;
    height: auto;
  }
}

.gift__rule {
  color: $white;
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}
