.logo {
  display: inline-block;
  width: 33px;
  height: 37px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include above($tablet) {
    width: 174px;
    height: 52px;
  }

  @include above ($desktop) {
    width: 202px;
    height: 59px;
  }
}
