
.main-nav {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 23px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/toggle-close.svg");
  background-position: center;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  background-image: none;
}

.main-nav--open .main-nav__toggle {
  background-image: url("../img/toggle-open.svg");
}

.main-nav__list {
  @include reset-list;
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  @include above($desktop) {
    max-width: 50%;
  }
}

.main-nav--nojs .main-nav__list,
.main-nav--open .main-nav__list {
  @media (max-width: $tablet - 1px) {
    display: block;
  }
}

.main-nav__item {
  display: flex;
  width: 100%;
  min-height: 66px;
  align-items: center;
  border: none;
  margin: 0;
  position: relative;

  &::after {
    @include line-pseudo-100vw($gray-300);
    top: 0;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
    width: auto;
    min-height: auto;
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.main-nav__link {
  width: 100%;
  padding: 22px 0;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  border: none;

  &:not(.main-nav__link--active-link):hover {
    opacity: 0.6;
  }

  &:not(.main-nav__link--active-link):active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    border-bottom: 2px solid transparent;
  }

  @include above($desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__list--index-page .main-nav__link {
  @include above($desktop) {
    color: $white;
  }
}

.main-nav__link--active-link {
  @include above($tablet) {
    position: relative;
  }

  &::before {
    @include above($tablet) {
      @include pseudo(100% ,2px);
      bottom: -11px;
      left: 0;
      background-color: $basic-green;
    }

    @include above($desktop) {
      bottom: -6px;
    }
  }
}

.main-nav__list--index-page .main-nav__link--active-link {
  &::before {
    @include above($desktop) {
      background-color: $white;
    }
  }
}

.main-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;

  @media (min-width: $tablet) {
    padding-bottom: 0;
    display: block;
  }
}
