.main-catalog {
  padding: 0;
  padding-top: 27px;
}

.main-catalog__title {
  margin: 0;
  margin-bottom: 39px;
}

.main-catalog__list {
  @include reset-list();
}

.main-catalog__item {
  margin-bottom: 24px;
}
