
.main-nav {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__list {
  @include reset-list;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.main-nav__item {
  display: flex;
  width: 100%;
  min-height: 66px;
  align-items: center;
  border: none;
  margin: 0;
  position: relative;

  &::after {
    @include pseudo(100vw, 1px);
    top: 0;
    right: -20px;
    background-color: $gray-300;
  }

  @media (min-width: $tablet) {
    padding: 0;
    width: auto;
    min-height: auto;
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  width: 100%;
  padding: 22px 0;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  border: none;

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    border-bottom: 2px solid transparent;
  }
}

.main-nav__link--active-link {
  @media (min-width: $tablet) {
    border-bottom: 2px solid $basic-green;
  }
}

.main-nav__text-logo {
  display: inline-block;
  width: 101px;
  height: 18px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    display: block;
  }
}
