
.main-nav {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__toggle {
  width: 24px;
  height: 23px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/toggle-close.svg");
  background-position: center;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle,
.main-nav--open .main-nav__toggle {
  background-image: url("../img/toggle-open.svg");
}

.main-nav__list {
  @include reset-list;
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  @include above($desktop) {
    max-width: 50%;
  }
}

.main-nav--nojs .main-nav__list,
.main-nav--open .main-nav__list {
  display: block;
}

.main-nav__item {
  display: flex;
  width: 100%;
  min-height: 66px;
  align-items: center;
  border: none;
  margin: 0;
  position: relative;

  &::after {
    @include pseudo(100vw, 1px);
    top: 0;
    left: -20px;
    background-color: $gray-300;

    @media (min-width: 436px) {
      @include pseudo(100%, 1px);
      left: 0;
    }

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
    width: auto;
    min-height: auto;
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  width: 100%;
  padding: 22px 0;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    border-bottom: 2px solid transparent;
  }

  @include above($desktop) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__list--index-page .main-nav__link {
  @include above($desktop) {
    color: $white;
  }
}

.main-nav__list--index-page .main-nav__link--active-link {
  @include above($desktop) {
    border-color: $white;
  }
}

.main-nav__link--active-link {
  @media (min-width: $tablet) {
    border-bottom: 2px solid $basic-green;
  }
}

.main-nav__text-logo {
  display: inline-block;
  width: 101px;
  height: 18px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    display: block;
  }
}
