.main {
  padding-top: 25px;

  &--no-top-padding {
    padding-top: 0;
  }

  &--catalog {
    @include above($tablet) {
      padding-top: 59px;
    }
  }
}

.main__title {
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 153px;
  }

  &--form {
    @media (min-width: $tablet) {
      margin-bottom: 56px;
    }
  }

  &--catalog {
    @include above($tablet) {
      margin-bottom: 164px;
    }
  }
}

.main__description {
  margin: 0;
  margin-bottom: 39px;
  line-height: 18px;

  @media (min-width: $tablet) {
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    max-width: 363px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
  }
}
