.product-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 22px;
  min-height: 184px;

  @media (min-width: $tablet) {
    padding: 0 38px 39px 38px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: $gray-100;
    min-height: 429px;
  }

  @include above($desktop) {
    padding: 0 37px 39px 37px;
  }
}

.product-card__title {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: $black-200;
  margin: 0;
  margin-bottom: 13px;
  width: 76px;

  a {
    color: inherit;
    font: inherit;
  }

  @include above($tablet) {
    font-size: 20px;
    line-height: 24px;
    width: auto;
    text-align: center;
    padding: 0 59px;
    margin-bottom: 12px;
  }

  @include above($desktop) {
    padding: 0 7px;
  }
}

.product-card__picture {
  width: 50%;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;

  @media (min-width: $tablet) {
    margin-top: -83px;
    width: 100%;
    height: 222px;
    margin-bottom: 21px;
  }

  @include above($desktop) {
    height: 206px;
    margin-bottom: 38px;
  }
}

.product-card__picture img {
  display: block;
  object-fit: none;
}

.product-card__content {
  flex-grow: 1;

  @media (min-width: $tablet) {
    flex-grow: 0;
  }
}

.product-card__info {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  flex: 1 0 100%;
  margin-top: 18px;

  @media (min-width: $tablet) {
    flex: 0 0 auto;
    margin-top: auto;
  }
}

.product-card--show-more {
  display: flex;
  flex-direction: column;
  padding-top: 83px;
  text-align: center;
  order: 1;

  @include above($tablet) {
    background-color: $white;
    border: 2px solid $gray-100;
    align-items: center;
    padding-top: 162px;
    padding-bottom: 32px;
  }

  @include above ($desktop) {
    padding: 162px 33px 39px 32px;
  }
}

.product-card--show-more .product-card__title {
  margin-bottom: 8px;
  width: auto;
  position: relative;

  &::before {
    @include pseudo(30px, 30px);
    background-image: url("..//img/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    top: -54px;
    transform: translateX(-50%);

    @include above($tablet) {
      top: -106px;
      width: 60px;
      height: 60px;
    }
  }

  @include above($tablet) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    padding: 0 37px;
  }

  @include above($desktop) {
    padding: 0 5px;
  }
}

.product-card--show-more .product-card__text-content {
  @include above($tablet) {
    text-align: center;
  }
}

.product-card--show-more .product-card__info {
  margin-bottom: 0;

  @include above($tablet) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 15px;
  }

  @include above($desktop) {
    padding: 0 3px;
  }
}

.product-card__button--show-more {
  background-color: $gray-100;
  color: $text-color;
  font-size: 16px;
  min-height: 40px;
  flex: 0 0 100%;

  @include above($tablet) {
    min-height: 40px;
  }
}
