.product-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0 37px 40px 36px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: $gray-100;
    min-height: 429px;
  }
}

.product-card__title {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: $black-200;
  margin: 0;
  margin-bottom: 18px;

  a {
    color: inherit;
    font: inherit;
  }
}

.product-card__picture {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-top: -83px;
    width: 100%;
  }
}

.product-card__picture img {
  display: block;
  object-fit: none;
}

.product-card__content {
  flex-grow: 1;

  @media (min-width: $tablet) {
    flex-grow: 0;
  }
}

.product-card__info {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  flex: 1 0 100%;
  margin-top: 22px;

  @media (min-width: $tablet) {
    flex: 0 0 auto;
    margin-top: auto;
  }
}

.product-card--show-more {
  display: flex;
  flex-direction: column;

  @include above($tablet) {
    background-color: $white;
    border: 2px solid $gray-100;
    align-items: center;
    padding-top: 50px;
  }
}


.product-card--show-more .product-card__picture {
  width: 30px;
  height: 30px;
  margin-bottom: 23px;

  @include above($tablet) {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-bottom: 49px;
  }
}

.product-card--show-more .product-card__title {
  margin-bottom: 8px;

  @include above($tablet) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
}

.product-card--show-more .product-card__text-content {
  @include above($tablet) {
    text-align: center;
  }
}

.product-card--show-more .product-card__info {
  margin-bottom: 0;

  @include above($tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-card__button--show-more {
  background-color: $gray-100;
  color: $text-color;
  font-size: 16px;
  min-height: 60px;

  @include above($tablet) {
    min-height: 40px;
  }
}
