.program-steps {
  padding-bottom: 22px;

  @include above($tablet) {
    padding-top: 16px;
    padding-bottom: 103px;
    border-bottom: 1px solid $gray-300;
  }

  @include above($desktop) {
    padding-bottom: 70px;
    padding-top: 0;
    border-bottom: none;
  }
}

.program-steps__title {
  margin: 0;
  margin-bottom: 40px;

  @include above($tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  @include above($desktop) {
    margin-bottom: 74px;
  }
}

.program-steps__list {
  @include reset-list();

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(243px, 1fr));
    column-gap: 60px;
    row-gap: 134px;
  }

  @include above($desktop) {
    column-gap: 79px;
  }
  counter-reset: mycount;
}

.program-steps__item {
  margin-bottom: 20px;
  display: flex;
  position: relative;

  @media (min-width: $tablet) {
    max-width: 245px;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: column;
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;

    @include square(60px);
    background-color: $basic-green;

    @media (min-width: $tablet) {
      display: block;
      margin-bottom: 31px;
      margin-right: 0;

      @include square(80px);
    }

    @include above($desktop) {
      margin-bottom: 35px;
    }
  }

  &--leaf::before {
    background-image: url("../img/program-steps-leaf.svg");
  }

  &--tube::before {
    background-image: url("../img/program-steps-tube.svg");
  }

  &--eat::before {
    background-image: url("../img/program-steps-eat.svg");
  }

  &--clock::before {
    background-image: url("../img/program-steps-clock.svg");
  }

  &::after {
    @media (min-width: $tablet) {
      position: absolute;
      counter-increment: mycount;
      content: counter(mycount);
      font-family: $custom-font;
      font-size: 280px;
      line-height: 280px;
      color: $gray-100;
      top: -47px;
      right: 0;
      z-index: -1;
    }
  }
}
