
.program-card {
  width: 100%;
  padding: 36px 20px 18px;
  background-color: $gray-100;
  position: relative;

  @media (min-width: $tablet) {
    padding: 77px 0 56px 52px;
  }

  @include above($desktop) {
    display: flex;
    padding: 77px 51px 59px 52px;
    flex-direction: column;
    justify-content: flex-start;
  }

  &::before {
    @include pseudo(50px,50px);
    top: 25px;
    left: 22px;
    background-color: $basic-green;
    border-radius: 50%;

    @media (min-width: $tablet) {
      @include pseudo (200px, 200px);
      left: 446px;
      top: 92px;
    }

    @media (min-width: $desktop) {
      @include pseudo(100px,100px);
      top: 48px;
      left: 52px;
    }
  }

  &--slim {
    &::after {
      @include pseudo (50px,51px);
      top: 20px;
      left: 21px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/program-card-slim.svg");

      @media (min-width: $tablet) {
        @include pseudo (148px,190px);
        background-image: url("../img/program-card-slim.svg");
        left: 472px;
        top: 82px;
      }

      @media (min-width: $desktop) {
        @include pseudo (100px,97px);
        background-image: url("../img/program-card-slim.svg");
        top: 42px;
        left: 53px;
      }
    }
  }

  &--strong {
    &::after {
      @include pseudo (68px,55px);
      top: 22px;
      left: 12px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/program-card-strong.svg");

      @media (min-width: $tablet) {
        @include pseudo (268px,112px);
        background-image: url("../img/program-card-strong.svg");
        left: 412px;
        top: 134px;
      }

      @media (min-width: $desktop) {
        @include pseudo (134px,56px);
        background-image: url("../img/program-card-strong.svg");
        top: 69px;
        left: 33px;
      }
    }
  }
}

.program-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  padding-left: 71px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.program-card--strong .program-card__description {
  @include above($tablet) {
    max-width: 342px;
  }

  @include above($desktop) {
    max-width: none;
  }
}

.program-card__description {
  margin: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid $border-link-color;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin-bottom: 51px;
    max-width: 377px;
    padding-bottom: 0;
    border: none;
  }

  @include above($desktop) {
    max-width: none;
    margin-bottom: 26px;
  }
}

.program-card__link {
  display: inline-block;
  position: relative;
  padding-right: 39px;

  @include above($tablet) {
    padding-right: 49px;
  }

  &::before {
    @include pseudo(24px, 10px);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/arrow.svg");
    transform-origin: left center;
    transition: transform 200ms ease-in-out;
  }

  &:hover::before {
    transform: translateY(-50%) scaleX(1.3333);
  }

  &:active {
    opacity: 0.3;
  }

  @include above($tablet) {
    font-size: 20px;
    line-height: 30px;
    align-self: flex-start;
  }

  @include above($desktop) {
    margin-top: auto;
  }
}
