.programs {
  padding-top: 22px;
  padding-bottom: 29px;

  @include above ($tablet) {
    padding-top: 0;
  }

  @include above($desktop) {
    padding-top: 81px;
    padding-bottom: 71px;
  }
}

.programs__list {
  @include reset-list();

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  margin-bottom: 20px;

  @include above($tablet) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    max-width: 570px;
    flex-grow: 1;
    margin-bottom: 0;
  }
}
