
.program-card {
  width: 100%;
  min-height: 280px;
  padding: 40px 20px 25px;
  background-color: $gray-100;
}

.program-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.program-card__description {
  margin-bottom: 23px;
}

.program-card__link {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid $border-link-color;
}
