$header-height: 115px;

.promo_wrapper {
  position: relative;
}

.promo {
  padding-top: 27px;
  position: relative;

  @include above($tablet) {
    padding-bottom: 526px;
    padding-top: 57px;
  }

  @include above($desktop) {
    padding-top: 108px;
    padding-bottom: 187px;
  }

  &::after {
    @include pseudo(100%,302px);
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url("../img/promo-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-mobile@2x.jpg");
    }

    @media (min-width: $tablet) {
      display: none;
    }

    @include above($desktop) {
      display: block;
      width: 50%;
      left: 50vw;
      top: -$header-height;
      height: calc(100% + #{$header-height});
      background-image: url("../img/promo-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-desktop@2x.jpg");
      }
    }
  }
}

.promo__picture {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;

  @include above($tablet) {
    position: absolute;
    width: 709px;
    z-index: -1;
    top: 201px;
    margin-bottom: 0;
  }

  @include above($desktop) {
    width: 552px;
    top: -82px;
    left: 558px;
  }

  img {
    object-fit: none;
    display: block;
  }
}

.promo__describe {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    padding-left: 87px;
    padding-right: 206px;
    margin-bottom: 42px;
    color: $black;
  }

  @include above($desktop) {
    padding-left: 80px;
    margin-bottom: 37px;
  }
}

.promo__tagline {
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet) {
    text-align: left;
    padding-left: 88px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    color: $black;
  }

  @include above($desktop) {
    padding-left: 80px;
    margin-bottom: 54px;
  }
}

.promo__button {
  min-width: 100%;
  font-size: 14px;

  @media (min-width: $tablet) {
    min-width: 245px;
    margin-left: 81px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 26px;
  }
}
