.promo {
  padding-top: 27px;
}

.promo__picture {
  width: 280px;
  height: 270px;
}

.promo__describe {
  margin: 0;
  margin-bottom: 25px;
}

.promo__tagline {
  margin: 0;
  margin-bottom: 29px;
}

.promo__button {
  font-size: 14px;
}
