$header-height: 94px;

.promo {
  padding-top: 27px;
  position: relative;

  @include above($tablet) {
    padding-bottom: 526px;
  }

  @include above($desktop) {
    padding-top: 82px;
    padding-bottom: 185px;
  }

  &::after {
    @include pseudo(100%,302px);
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url("../img/promo-bg_mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg_mobile@2x.jpg");
    }

    @media (min-width: $tablet) {
      display: none;
    }

    @include above($desktop) {
      display: block;
      width: calc(50% - 9px);
      left: 50vw;
      top: -$header-height;
      height: calc(100% + #{$header-height});
      background-image: url("../img/promo-desktop-bg.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-desktop-bg@2x.jpg");
      }
    }
  }
}

.promo__picture {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;

  @include above($tablet) {
    position: absolute;
    width: 709px;
    z-index: -1;
    top: 210px;
  }

  @include above($desktop) {
    width: 552px;
    top: 22px;
    left: 32%;
  }

  img {
    object-fit: none;
    display: block;
  }
}

.promo__describe {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    padding-left: 62px;
    padding-right: 206px;
    color: $black;
  }
}

.promo__tagline {
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet) {
    text-align: left;
    padding-left: 62px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

.promo__button {
  min-width: 100%;
  font-size: 14px;

  @media (min-width: $tablet) {
    min-width: 245px;
    margin-left: 62px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
  }
}
