.secondary-catalog__inner {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.secondary-catalog {
  padding-top: 28px;

  @media (min-width: $desktop) {
    padding-bottom: 86px;
  }
}

.secondary-catalog__title {
  margin: 0;
  margin-bottom: 35px;
}

.secondary-catalog__list {
  @include reset-list();
}

.secondary-catalog__item {
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    border: 1px solid $gray-400;
  }

  &:not(:first-child) {
    @media (min-width: $tablet) {
      border-top: none;
    }
  }

  @media (min-width: $desktop) {
    width: 896px;
    border-left: none;
    border-right: none;
  }
}
