.secondary-catalog__inner {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.secondary-catalog {
  overflow: hidden;

  @media (min-width: $tablet) {
    padding-bottom: 76px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 86px;
  }
}

.secondary-catalog__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 35px;
  padding-right: 24px;
  position: relative;

  @include above($tablet) {
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    position: relative;
    padding-left: 37px;
    padding-right: 37px;
    background-color: $white;
  }

  @include above ($desktop) {
    padding-left: 0;
  }

  &::after {
    @include pseudo (100vw, 2px);
    top: 0.5em;
    left: 100%;
    background-color: $basic-green;
  }

  &::before {
    @include above($tablet) {
      @include pseudo (100vw, 2px);
      background-color: $basic-green;
      right: 100%;
      top: 0.5em;
    }

    @include above($desktop) {
      right: calc(100% + 40px);
    }
  }
}

.secondary-catalog__list {
  @include reset-list();

  @include above($tablet) {
    margin-bottom: 69px;
  }

  @include above($desktop) {
    margin-bottom: 0;
  }
}

.secondary-catalog__item {
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    border: 1px solid $gray-400;
  }

  &:not(:first-child) {
    @media (min-width: $tablet) {
      border-top: none;
    }
  }

  @media (min-width: $desktop) {
    width: 896px;
    border-left: none;
    border-right: none;
  }
}
