.secondary-product-card {
  padding-top: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid $gray-400;

  &:first-child {
    border-top: 1px solid $gray-400;
  }

  @media (min-width: $tablet) {
    padding: 25px 37px 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    padding: 17px 0 14px;
  }
}

.secondary-product-card__title {
  margin: 0;
  margin-bottom: 12px;
  color: $black-200;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    margin-right: auto;
  }
}

.secondary-product-card__info {
  margin: 0;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    justify-content: flex-end;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    min-width: 285px;
    margin-right: 39px;
    justify-content: flex-start;
  }
}

.secondary-product-card__value {
  @media (min-width: $tablet) {
    margin-right: 50px;
  }

  @media (min-width: $desktop) {
    margin-right: auto;
  }
}

.secondary-product-card__button {
  @media (min-width: $tablet) {
    flex-basis: 100%;
    margin-top: 22px;
  }

  @media (min-width: $desktop) {
    flex-basis: 0;
    flex-shrink: 0;
    min-width: 244px;
    margin-top: 0;
  }
}
