$border-color:$light-gray;

.text-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.text-field__label {
  @include form-label();
  color: $text-color;
  margin-right: 12px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text-field__input {
  padding: 12px 16px;
  border: none;
  outline: 1px solid $border-color;
  cursor: pointer;

  @include form-label();
  color: $text-color;
  flex-grow: 1;

  &:not(.text-field__input--error):hover {
    outline: 1px solid $gray-400;
  }

  &:focus {
    outline: 2px solid $text-color;
  }

  &--error {
    outline: 2px solid $error-color;
  }

  @include above($tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 23px;
  }

  &::placeholder {
    color: $text-color;
    opacity: 1;

    @include above($tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.text-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: $black-200;
}

.text-field__input--error + .text-field__icon {
  color: $error-color;
}

.text-field__input:focus + .text-field__icon {
  color: $basic-green;
}
