$border-color:$light-gray;

.text-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-field__label {
  @include form-label();
  color: $text-color;
  margin-right: 12px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text-field__input {
  padding: 12px 16px;

  @include form-label();

  color: $text-color;
  border: 1px solid $border-color;
  flex-grow: 1;

  @include above($tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 23px;
  }

  &::placeholder {
    color: $text-color;
    opacity: 1;

    @include above($tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
