.wrapper {
  min-width: 320px;
  max-width: 476px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: $desktop;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 110px;
  }
}
