@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff"),
    url("../fonts/oswaldregular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: local("Oswald"),
    url("../fonts/oswaldmedium.woff"),
    url("../fonts/oswaldmedium.woff2");
  font-display: swap;
}
