@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin form-label {
  font-family: $custom-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin pseudo($width,$height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
}

@mixin above($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin retina() {
  @media (min-resolution: 2dppx) {
    @content;
  }
}
