@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin form-label {
  font-family: $custom-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content ;
  }

  &:-moz-placeholder {
    @content;
    opacity: 1;
  }

  &::-moz-placeholder {
    @content;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    @content;
  }
}


@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin pseudo($width,$height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
}
