//переменные
$text-color: #444444;
$basic-green: #68b738;
$white: #ffffff;
$black: #000000;
$gray:#eaeaea;
$gray-100:#f2f2f2;
$gray-200:#d9d9d9;
$example-bg-color: $gray;
$footer-bg-color: $gray-100;
$border-link-color: $gray-200;
// переменные фона
$custom-font: "Oswald", "Arial", sans-serif;
